/*custom font*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    /*Image only BG fallback*/
    /*background = gradient + image pattern combo*/
    /* background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6)); */
    /* background-color: #2C3E50 */
}

body {
    font-family: serif;
    background: url('image3.jpg');
    background-size: cover;
    background-position: center;
}


/*form styles*/

#form {
    width: 600px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#form fieldset {
    background-color: rgba(255, 255, 255, 0.7);
    border: 0 none;
    border-radius: 10px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}


/*Hide all except first fieldset*/

#form fieldset:not(:first-of-type) {
    display: none;
}


/*inputs*/

#form input,
#form textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#form input[type="radio"] {
    /* float: left; */
    width: auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    font-family: montserrat;
    color: rgb(158, 166, 175);
    font-size: 13px;
}


/*buttons*/

#form .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#form .action-button:hover,
#form .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}


/*headings*/

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}


/*progressbar*/

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 20%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}


/*progressbar connectors*/

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}


/*marking active/completed steps green*/


/*The number of the step and the connector before it = green*/

#progressbar li.active:before,
#progressbar li.active:after {
    background: #27AE60;
    color: white;
}

.custom-file-input {
    border: none !important;
}


/* Float four columns side by side */

.column {
    float: left;
    width: 45%;
    padding: 0 10px;
}


/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 -5px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.card:hover {
    transform: scale(1.1);
}